<div class="min-vh-100 bgbooking">
  <main class="pa6-ns pa5-m pa3 min-vh-100 bg-black-70">
    <div class="pt5"></div>
    <span class="f-6-ns f1 fjalla white pl5-ns pr5-ns pl1-m pr1-m pl2 pr2">My Bookings {{count+"-"+len}}</span>
    <div class="pt3"></div>
    <section class="flex flex-column justify-center pl5-ns pr5-ns pl1-m pr1-m">
      <mat-accordion class="pa2" *ngFor="let booking of bookingIDObject">
        <mat-expansion-panel class="pa2" >
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              {{booking.flight.airline +" "+ booking.flight.flightNumber}}
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              {{booking.flight.sourceCode +" "+ booking.flight.deptTime}} &#8594;{{booking.flight.destCode +" "+ booking.flight.arrivalTime}} on 29/4/21
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <tr>
                <td>Departure</td>
                <td>{{booking.flight.deptTime}}</td>
                <td>{{booking.sourceAirport.airportName + "," + booking.sourceAirport.city +" "+ booking.sourceAirport.airportCode}}</td>
              </tr>
              <tr>
                <td>Arrival</td>
                <td>{{booking.flight.arrivalTime}}</td>
                <td>{{booking.destAirport.airportName+ "," +booking.destAirport.city +" "+ booking.destAirport.airportCode}}</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Passenger Details
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              View Passenger(s)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <ng-container *ngFor="let ticket of ticketsData;">
                <tr *ngIf="ticket.bookingId === booking.bookingID">
                  <td>{{ticket.passengerName}}</td>
                  <td>{{ticket.passengerAge}}</td>
                  <td>{{ticket.passengerGender}}</td>
                  <td><mat-icon>edit</mat-icon></td>
                </tr>
              </ng-container>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Booking Ref. - 673DD8C2
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              Total Fare - 11999
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-column justify-center">
            <table>
              <tr>
                <td>Passenger(s) (1 X ₹ 3493)</td>
                <td>₹ 3493</td>
              </tr>
              <tr>
                <td>Convenience Charges</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Total Fare</td>
                <td>₹ 3493</td>
              </tr>
            </table>
            <button mat-raised-button color="warn" class="pa2">Cancel Booking</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </main>
</div>

