<div class="min-vh-100 bgbooking">
  <main class="pa6-ns pa5-m pa3 min-vh-100 bg-black-70">
    <div class="pt5"></div>
    <span class="f-6-ns f1 fjalla white pl5-ns pr5-ns pl1-m pr1-m pl2 pr2">My Bookings</span>
    <div class="pt3"></div>
    <section class="flex flex-column justify-center pl5-ns pr5-ns pl1-m pr1-m">
      <mat-accordion class="pa2">
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Indigo 6E-2139
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              DEL 08:15 &#8594; MAA 11:15 on 29/4/21
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <tr>
                <td>Departure</td>
                <td>08:15</td>
                <td>Indira Gandhi International Airport, Delhi (DEL)</td>
              </tr>
              <tr>
                <td>Arrival</td>
                <td>11:15</td>
                <td>Chennai International Airport, Chennai (MAA)</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              One Way Trip
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              3 Passengers
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <tr>
                <td>Vishal Thakur</td>
                <td>21</td>
                <td>Male</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
              <tr>
                <td>Rajesh Swaraj</td>
                <td>33</td>
                <td>Male</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
              <tr>
                <td>Kavita Raje</td>
                <td>23</td>
                <td>Female</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Booking Ref. - 673DD8C2
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              Total Fare - 11999
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-column justify-center">
            <table>
              <tr>
                <td>Passenger(s) (1 X ₹ 3493)</td>
                <td>₹ 3493</td>
              </tr>
              <tr>
                <td>Convenience Charges</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Total Fare</td>
                <td>₹ 3493</td>
              </tr>
            </table>
            <button mat-raised-button color="warn" class="pa2">Cancel Booking</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="pa2">
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Indigo 6E-2139
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              DEL 08:15 &#8594; MAA 11:15 on 29/4/21
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <tr>
                <td>Departure</td>
                <td>08:15</td>
                <td>Indira Gandhi International Airport, Delhi (DEL)</td>
              </tr>
              <tr>
                <td>Arrival</td>
                <td>11:15</td>
                <td>Chennai International Airport, Chennai (MAA)</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              One Way Trip
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              3 Passengers
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex justify-center">
            <table>
              <tr>
                <td>Vishal Thakur</td>
                <td>21</td>
                <td>Male</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
              <tr>
                <td>Rajesh Swaraj</td>
                <td>33</td>
                <td>Male</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
              <tr>
                <td>Kavita Raje</td>
                <td>23</td>
                <td>Female</td>
                <td><mat-icon>edit</mat-icon></td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="pa2">
          <mat-expansion-panel-header>
            <mat-panel-title class="f5-ns f5-m f6 tl">
              Booking Ref. - 673DD8C2
            </mat-panel-title>
            <mat-panel-description class="flex justify-end f5-ns f5-m f6 tr">
              Total Fare - 11999
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-column justify-center">
            <table>
              <tr>
                <td>Passenger(s) (1 X ₹ 3493)</td>
                <td>₹ 3493</td>
              </tr>
              <tr>
                <td>Convenience Charges</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Total Fare</td>
                <td>₹ 3493</td>
              </tr>
            </table>
            <button mat-raised-button color="warn" class="pa2">Cancel Booking</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </main>
</div>

