<mat-sidenav-container>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <div class="sidenav-header">
      <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
    </div>
    <ul>
      <li>
        <div *ngIf="collapsedNav; else homeicon">
          <mat-icon>flight_takeoff</mat-icon>
        </div>
        <ng-template #homeicon>
          Fly
        </ng-template>
      </li>
      <li>
        <div *ngIf="collapsedNav; else blogicon">
          <mat-icon>landscape</mat-icon>
        </div>
        <ng-template #blogicon>
          Travel Ideas
        </ng-template>
      </li>
      <li>
        <div *ngIf="collapsedNav; else loginicon">
          <mat-icon>login</mat-icon>
        </div>
        <ng-template #loginicon>
          Login
        </ng-template>
      </li>
      <li>
        <div *ngIf="collapsedNav; else signupicon">
          <mat-icon>signup</mat-icon>
        </div>
        <ng-template #signupicon>
          Sign Up
        </ng-template>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <mat-toolbar>
      <!-- <button mat-icon-button (click)="snav.toggle()"> -->
      <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
