<mat-sidenav-container>
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <div class="sidenav-header">
      <span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
    </div>
    <ul>
      <li>
        <mat-icon>home</mat-icon>
      </li>
      <li>
        <mat-icon>exit_to_app</mat-icon>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <mat-toolbar>
      <!-- <button mat-icon-button (click)="snav.toggle()"> -->
      <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
