<div style="padding-top: 100px"></div>
<form [formGroup]="userTable">
  <table class="table table-border">
    <tbody>
    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index;">
      <tr *ngIf="group.get('isEditable')!.value" [formGroupName]="i">
        <td>
          <input type='hidden' formControlName="id" [ngModel]="23242424">
        </td>
        <td>
          <mat-form-field>
            <mat-placeholder>Name</mat-placeholder>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-placeholder>Age</mat-placeholder>
            <input matInput type="text" formControlName="age">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-placeholder>Gender</mat-placeholder>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="others">Others</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <button (click)="doneRow(group)" [disabled]="!group.valid"><mat-icon>done</mat-icon></button>
        </td>
      </tr>
      <tr *ngIf="!group.get('isEditable')!.value">
        <td>
          {{group.get('name')!.value}}
        </td>
        <td>
          {{group.get('age')!.value}}
        </td>
        <td>
          {{group.get('gender')!.value}}
        </td>
        <td>
          <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="action-container">
    <button (click)="load()">load</button>
    <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
  </div>
</form>
<div class="output">
  <p>Form Data: {{userTable.value | json}}</p>
  <p>Is Valid: {{userTable.valid}}</p>
</div>
