<div class="pa4 f1 flex justify-center fjalla">Places to check out!</div>
<div class="cf pa2 flex flex-wrap justify-center">
  <div class="pa2 ma2 " style="width: 500px;" *ngFor="let post of posts">
    <a routerLink="/blog-post/{{post.blogid}}" class="db link dim tc">
      <img src="{{post.imgurl}}" alt="{{post.articletitle}}" style="object-fit: cover;height: 400px" class="db outline black-10 h5 w-100"/>
      <dl class="mt2 f6 lh-copy">
        <dt class="clip">{{post.articletitle}}</dt>
        <dd class="f4 ml0 white truncate w-100 fjalla">{{post.articletitle}}</dd>
      </dl>
    </a>
  </div>
</div>
